{% extends 'base.html.twig' %}

{% block title %}Character list{% endblock %}

{% block body %}
    <h1>Character list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.uuid }}</td>
                <td>{{ character.name }}</td>
                <td><a href="{{ path('character_show', {'uuid': character.uuid}) }}">show</a></td>
{#                    <a href="{{ path('character_edit', {'id': character.id}) }}">edit</a>#}


                <td>{{ include('character/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('character_new') }}">Create new</a>#}
{% endblock %}
